/* Tablet Landscape max-width: 1200px */
@media screen and (max-width: 75em) {
	html {
		font-size: 56.25%;
	}
}

/* Tablet Portrait max-width: 900px */
@media screen and (max-width: 56.25em) {
	html {
		font-size: 50%;
	}

	#restaurants-list li {
		margin: 2rem;
		width: 45%;
	}	

	.restaurant-info {
		height: 19rem;
	}

	/* Restaurant detail page */
	
	.inside #map-container {
		z-index: 900;
	}
	
	#maincontent {
		display: flex;
		flex-direction: column;
	}

	#breadcrumb {
		width: 100%;
	}

	#restaurant-container { 
		width: 100%;
		padding: 12rem 0 2rem;
	}

	#reviews-container {
		width: 100%;
		padding: 8rem 0;
	}

	.inside #map-container {
		top: 1rem;
		width: 100%;
		height: 35vh;
		display: block;
		position: relative;
	}

	#restaurant-img,
	#restaurant-cuisine {
		width: 100%;
	}
}

/*Phones max-width: 600px */
@media screen and (max-width: 37.5em) {
	#restaurants-list li {
		width: 90%;
		margin: 2rem 0.5rem;
	}
	
	nav {
		height: 6rem;
	}

	.filter-selects select {
		width: 80%;
	}

	.restaurant-info {
		height: 17rem;
	}

	/* Restaurant detail page */

	#restaurant-container {
		padding: 10rem 0 2rem;
	}

	#restaurant-hours {
		padding: 0 1.5rem;
	}

	#reviews-container {
		width: 100%;
		padding: 5rem 0 6rem;
	}

	#reviews-container h2 {
		padding-bottom: 0;
	}

	#reviews-list li {
		margin: 0 0 2.5rem;
		padding: 1rem 2rem;
	}

	.review-comments {
		padding: 1rem 1rem 1rem 1.5rem;
	}

	.review-comments::before {
		font-size: 400%;
		top: -1.5rem;
	}

	#restaurant-name {
		margin: 2rem 0 1rem;
	}

	#restaurant-img {
		height: 30vh;
	}

	#restaurant-address {
		margin: 1rem 0;
	}

	.inside #footer {
		padding: 1rem 6rem;
	}
}

/*Small Phones max-width: 480px */
@media screen and (max-width: 30em) {
	.restaurant-info {
		height: 19rem;
	}
}

/*Large Desktop */
@media screen and (min-width: 112.5em) {
	html {
		font-size: 50%;
	}

	#restaurants-list li {
		min-width: 40rem;
		max-width: 45rem;
	}	
}